.light {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    margin: 10px
}

#red.active   { background-color: red;}
#amber.active { background-color: orange;}
#green.active { background-color: green;}